:root {
  --bg-color: white;
  --text-color: black;
  --soft-bg-color: #f0f0f0;
  --soft-text-color: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    padding: 0 20px;
  }
}
