.container {
  margin-top: 20px;
  background-color: rgb(164, 164, 145);
}

.title {
  font-size: 50px;
}

.post {
  margin-top: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.textContainer {
  flex: 1;
}
