.logout {
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--text-color);
}

.box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

@media screen and (max-width: 640px) {
  .link {
    display: none;
  }

  .box {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
